In [5]:
import util
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
sqlTxt = '''
select  name, year, tag, tau, sigma, beta 
  from  players p, stan_players sp 
  where p.player_id = sp.player_id;
'''
p_df = util.pd_from_sql(sqlTxt)

sqlTxt = '''
select  name, st.year, tag, alpha
  from  tournaments t, stan_tournaments st 
  where t.permanent_tournament_id = st.permanent_tournament_id
    and t.year = st.year
'''
t_df = util.pd_from_sql(sqlTxt)

In [31]:
p_df[p_df['name'] == 'Dustin Johnson']

,name,year,tag,tau,sigma,beta
29,Dustin Johnson,2014,top-200,"(70.058,0.059,0.624)","(3.653,0.013,0.435)","(0.658,0.022,0.964)"
233,Dustin Johnson,2015,top-200,"(69.598,0.036,0.508)","(3.548,0.008,0.346)","(-0.493,0.022,0.966)"
402,Dustin Johnson,2016,top-200,"(69.252,0.046,0.527)","(3.672,0.007,0.327)","(-0.485,0.022,0.962)"

In [39]:
t_df[t_df['name'] == 'THE PLAYERS Championship']

                        name  year      tag                alpha
1   THE PLAYERS Championship  2014  top-200  (1.867,0.065,0.354)
42  THE PLAYERS Championship  2015  top-200   (2.26,0.039,0.273)
83  THE PLAYERS Championship  2016  top-200  (2.007,0.049,0.311)