In [71]:
import os
import sys
import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
%precision 4
plt.style.use('ggplot')
import pystan
import scipy.stats as stats
pd.set_option('max_rows', 1000)
pd.set_option('max_columns', 50)
from sqlalchemy import create_engine
import psycopg2 as pq
golf_db = 'postgresql://localhost:5432/golf'

In [196]:
def exec_sql(sqlTxt, result=False):  
    with pq.connect(golf_db) as conn:
        with conn.cursor() as cursor:
            cursor.execute(sqlTxt) 
            if result:
                return [row for row in cursor] 
        
def pd_from_sql(sqlTxt):
    with pq.connect(golf_db) as conn:
        return pd.read_sql_query(sqlTxt, conn)
    
def np_to_sql(arr, table):
    df = pd.DataFrame(arr)
    with pq.connect(golf_db) as conn:
        df.to_sql(table, conn, if_exists='append')

In [64]:
def convert(c):
    return c.lower().replace(' ', '_').replace('/', '_').replace('.', '_').replace('#', 'id').replace('(', '_').replace(')', '').replace('id_of', 'num_of')

In [83]:
engine = create_engine(golf_db)

In [63]:
files = ['data/rshot-2014.txt', 'data/rshot-2015.txt', 'data/rshot-2016.txt']

In [67]:
for f in files:
    print 'reading ' + f
    df = pd.read_csv(filepath_or_buffer=f, sep=';', skipinitialspace=True)
    print 'converting date file'
    df.columns = [convert(col) for col in df.columns]
    df['date'] = pd.to_datetime(df['date'])
    print 'writing to sql'
    df.to_sql(name= 'strokes', con= engine, if_exists= 'append')

reading data/rshot-2014.txt
converting date file
writing to sql
reading data/rshot-2015.txt
converting date file
writing to sql
reading data/rshot-2016.txt
converting date file
writing to sql

In [88]:
sqlTxt = '''
CREATE TABLE players (
     player_id    integer PRIMARY KEY,
     first_name   varchar(40) NOT NULL CHECK (first_name <> ''),
     last_name   varchar(40) NOT NULL CHECK (last_name <> '')
);
'''
exec_sql(sqlTxt)

-1

In [97]:
sqlTxt = '''
insert into players (player_id, first_name, last_name) 
select distinct player_id, player_first_name, player_last_name from strokes
'''
exec_sql(sqlTxt)

In [105]:
sqlTxt = '''
CREATE TABLE courses (
     year        integer,
     course_id    integer,
     name   varchar(40) NOT NULL CHECK (name <> ''),
     primary key (year, course_id) 
);
'''
exec_sql(sqlTxt)

In [106]:
sqlTxt = '''
insert into courses
select distinct year, course_id, course_name from strokes
'''
exec_sql(sqlTxt)

In [115]:
sqlTxt = '''
CREATE TABLE tournaments (
     year        integer,
     permanent_tournament_id    integer,
     name   varchar(100) NOT NULL CHECK (name <> ''),
     primary key (year, permanent_tournament_id) 
);
'''
exec_sql(sqlTxt)

In [116]:
sqlTxt = '''
insert into tournaments
select distinct year, permanent_tournament_id, tournament_name from strokes
'''
exec_sql(sqlTxt)

In [192]:
sqlTxt = '''
DROP TABLE IF EXISTS scores CASCADE;
CREATE TABLE scores (
     year        integer,
     date        timestamp,
     player_id   integer,
     permanent_tournament_id    integer,
     round       integer,
     score       integer,
     primary key (year, date, player_id, permanent_tournament_id, round) 
);

CREATE VIEW scores_view AS
  select * from scores
  order by year, player_id, permanent_tournament_id, date, round;
'''
exec_sql(sqlTxt)

In [193]:
sqlTxt = '''
insert into scores
select    year, date, player_id, permanent_tournament_id, round,  count(shot) as score
  from    strokes 
    group by year, date, player_id, permanent_tournament_id, round
    order by year, player_id, permanent_tournament_id, date, round
'''
exec_sql(sqlTxt)
# rounds = np.empty((1, 6))
# for row in cursor:
#     rounds = np.vstack((rounds, np.asarray(row).reshape((1,6))))
# rounds = combine_rounds(rounds[1:,0:])
# np_to_sql(rounds,'scores')

In [190]:
sqlTxt = '''
CREATE OR REPLACE FUNCTION combine_scores()
   RETURNS integer AS $$
DECLARE 
 num_recs integer = 0;
 first boolean = TRUE;
 score_rec   RECORD;
 prev_score_rec RECORD;
 scores_cur CURSOR 
 FOR SELECT *
 FROM scores_view;
BEGIN
   -- Open the cursor
   OPEN scores_cur;
 
   LOOP
    -- fetch row into the film
      FETCH scores_cur INTO score_rec;
    -- exit when no more row to fetch
      EXIT WHEN NOT FOUND;
 
    -- process
      IF NOT first THEN 
        IF score_rec.round = prev_score_rec.round 
          AND score_rec.player_id = prev_score_rec.player_id
          AND score_rec.permanent_tournament_id = prev_score_rec.permanent_tournament_id
          AND score_rec.year = prev_score_rec.year
          THEN 
            UPDATE scores SET score = score + prev_score_rec.score 
              WHERE year = score_rec.year
              AND   player_id = score_rec.player_id
              AND   date = score_rec.date
              AND   permanent_tournament_id = score_rec.permanent_tournament_id
              AND   round = score_rec.round;
            DELETE from scores 
              WHERE year = prev_score_rec.year
              AND   player_id = prev_score_rec.player_id
              AND   date = prev_score_rec.date
              AND   permanent_tournament_id = prev_score_rec.permanent_tournament_id
              AND   round = prev_score_rec.round;
            num_recs := num_recs + 1;
          score_rec.score = score_rec.score + prev_score_rec.score;
        END IF;
      ELSE
        first = FALSE;
      END IF;
      prev_score_rec = score_rec;
   END LOOP;
  
   -- Close the cursor
   CLOSE scores_cur;
 
   RETURN num_recs;
END; $$
 
LANGUAGE plpgsql;
'''
exec_sql(sqlTxt)

In [231]:
sqlTxt = '''
select s.player_id, first_name, last_name, avg(score) as avg_score, stddev(score)
  from scores as s, players p 
  where s.player_id = p.player_id 
  group by first_name, last_name, s.player_id
  having count(score) > 100
  order by avg_score;
  
'''
df = pd_from_sql(sqlTxt)
df

     player_id first_name     last_name  avg_score    stddev
0        28089      Jason           Day  69.640523  3.536677
1        23108       Matt        Kuchar  69.942623  3.023364
2        28237       Rory       McIlroy  70.029851  3.593939
3        24502       Adam         Scott  70.033784  2.947189
4        25804      Bubba        Watson  70.052941  3.038728
5        34046     Jordan        Spieth  70.055814  3.466347
6        32839     Hideki     Matsuyama  70.172589  2.996709
7        10809        Jim         Furyk  70.173653  3.231960
8        30925     Dustin       Johnson  70.317647  3.734413
9        24024       Zach       Johnson  70.319328  3.357548
10       25364       Paul         Casey  70.343023  3.518341
11       21528     Henrik       Stenson  70.410714  3.314053
12       25396      Kevin            Na  70.415254  3.127983
13       25632      Jimmy        Walker  70.427928  3.724899
14       29221       Webb       Simpson  70.460784  3.463167
15       21209     Sergio        Garcia  70.472727  3.476551
16       33122    Russell          Knox  70.496124  3.101710
17       22405     Justin          Rose  70.515924  3.363845
18        8075      Jerry         Kelly  70.528634  3.503831
19       26596       Ryan         Moore  70.550505  3.621001
20       24924       Bill          Haas  70.556522  3.095824
21       36689     Brooks        Koepka  70.569061  3.612007
22       34099     Harris       English  70.571984  3.214298
23       23320       Ryan        Palmer  70.587156  3.425873
24       27649     Brandt      Snedeker  70.605932  3.443373
25       32102     Rickie        Fowler  70.614583  3.439438
26       34265       Will        Wilcox  70.621951  3.499834
27       31202    William        McGirt  70.627986  3.444497
28       34360    Patrick          Reed  70.637860  3.486771
29       12510       Chad      Campbell  70.652542  3.243001
30       34431     Robert         Streb  70.652893  3.271176
31       21961    Charles    Howell III  70.670068  3.059700
32       40026     Daniel        Berger  70.670588  3.274026
33       33141     Keegan       Bradley  70.688995  3.239469
34       29478      Kevin        Kisner  70.749020  3.580314
35       25198  Francesco      Molinari  70.783582  3.100720
36       25834     Daniel    Summerhays  70.791971  3.139692
37        6527      Steve      Stricker  70.807339  3.154882
38       25686      Jason        Dufner  70.822581  3.446224
39        2206      David          Toms  70.825843  3.200990
40       24507      Jason          Bohn  70.827160  3.381244
41       32366      Kevin      Chappell  70.833992  3.655300
42       26476       Chez        Reavie  70.837838  3.203005
43       26758      David         Hearn  70.838828  3.086324
44       30711       Colt         Knost  70.839286  3.429932
45       30926      Chris          Kirk  70.840708  3.560440
46       27436     Graham        DeLaet  70.843750  3.617376
47       33448     Justin        Thomas  70.851485  3.690478
48       29926      Danny           Lee  70.865672  3.531116
49       26331      Charl    Schwartzel  70.891026  3.343889
50       25818      Scott        Piercy  70.894180  3.721619
51       37455     Si Woo           Kim  70.908257  3.869494
52       20472       Alex         Cejka  70.910714  3.156270
53       26851       Marc      Leishman  70.913706  3.161901
54       36699    Patrick       Rodgers  70.915033  3.503659
55       27963      Chris        Stroud  70.917355  3.180821
56       30944      Jason        Kokrak  70.924370  3.304925
57       24490     George       McNeill  70.931507  3.382343
58       23135        Tim         Clark  70.941667  3.815704
59       34021        Bud        Cauley  70.941748  3.555789
60       20645       John        Senden  70.947368  3.192342
61       27095       Nick        Watney  70.957055  3.556163
62       29222      Billy    Hurley III  70.958140  2.828942
63       23325     Vaughn        Taylor  70.967213  2.939991
64       12716    Charley       Hoffman  70.971660  3.573162
65       31323       Gary      Woodland  70.995349  3.315917
66       29479      Scott         Brown  71.000000  3.685066
67       29420      Billy      Horschel  71.000000  3.226379
68       22056    Cameron         Percy  71.000000  3.308681
69       33399       Adam        Hadwin  71.005263  3.484656
70       33418      Shawn       Stefani  71.012552  3.464685
71       27644      Brian        Harman  71.037801  3.619194
72       29518    Brendan        Steele  71.037975  3.395322
73       28500     Martin        Flores  71.038889  2.801364
74       26329      Louis    Oosthuizen  71.041322  3.171216
75       29725       Tony         Finau  71.042781  3.615720
76       20098     Stuart       Appleby  71.049451  3.426058
77       32200    Roberto        Castro  71.053659  3.296173
78       27466    Spencer         Levin  71.056452  3.397552
79       31560      Brian        Stuard  71.083333  3.346348
80       29476       Kyle       Reifers  71.087805  3.050570
81       23800      Bryce        Molder  71.094017  3.563002
82       26951    Johnson        Wagner  71.100457  3.657210
83       33413        Ben        Martin  71.107438  3.515943
84       24925   Jonathan          Byrd  71.117647  3.304584
85       26289        Boo       Weekley  71.126168  3.616338
86        1810       Phil     Mickelson  71.130682  3.363667
87       34261      Scott       Langley  71.131148  3.420949
88       24361        Pat         Perez  71.150000  3.512719
89       40058        Zac         Blair  71.164103  3.328066
90       30927    Brendon          Todd  71.171429  3.544102
91       34262        Jon        Curran  71.179775  3.155344
92       34264     Hudson      Swafford  71.189394  3.733789
93       20229    Stewart          Cink  71.199005  3.349657
94       23638    Brendon      de Jonge  71.200730  3.504032
95       34174       John           Huh  71.201521  3.090443
96       33419    Cameron      Tringale  71.202290  3.253220
97       35541       John      Peterson  71.202703  2.959958
98        6567      Vijay         Singh  71.203620  3.036024
99       35532        Tom          Hoge  71.203947  3.288227
100      35545     Blayne        Barber  71.203947  3.560897
101      34409      David     Lingmerth  71.209091  3.651722
102      25572     Graeme      McDowell  71.212598  3.143726
103      34098    Russell        Henley  71.217778  3.701067
104      25720       Chad       Collins  71.227679  3.094468
105      28475       Jeff       Overton  71.235556  3.429465
106      27936     Martin         Laird  71.239437  3.442786
107      35451      Scott      Pinckney  71.242604  3.374496
108      24140       Sean        O'Hair  71.250000  3.457914
109      31557        Jim        Herman  71.251101  3.299696
110      26300       Matt         Jones  71.254630  3.437817
111      23983       Luke        Donald  71.255952  3.362343
112      27064  Jhonattan         Vegas  71.256000  3.530485
113      23541        Ben         Crane  71.282297  3.236172
114      35539       Luke       Guthrie  71.282407  3.315764
115      24846      Ricky        Barnes  71.290196  3.650329
116      25349        Tim     Wilkinson  71.291080  3.298050
117      28259   Sangmoon           Bae  71.312500  3.355625
118      37454       Whee           Kim  71.312925  3.230426
119      21731    Freddie      Jacobson  71.318386  3.356045
120      27214      Kevin     Streelman  71.331754  3.414798
121      27141       J.B.        Holmes  71.337963  3.485738
122      36801       Mark       Hubbard  71.353933  3.422014
123      25493       Nick        Taylor  71.355422  3.148862
124      29535      Brice       Garnett  71.367647  3.340619
125      32150    Michael      Thompson  71.390698  3.586828
126      27770     Camilo      Villegas  71.392713  3.476347
127      29461      Jamie      Lovemark  71.405229  3.766958
128      30946       Alex         Prugh  71.411765  3.227206
129      25900      Lucas        Glover  71.412621  3.514380
130      24357       K.J.          Choi  71.437811  3.292015
131      30852        Ryo      Ishikawa  71.451220  3.577889
132      32448      James          Hahn  71.451883  3.677776
133      32640       Troy       Merritt  71.463303  3.442889
134      24912       Will     MacKenzie  71.463768  3.382908
135      23353       J.J.         Henry  71.468880  3.299000
136      22892      Jason          Gore  71.469880  3.456526
137      33461     Morgan      Hoffmann  71.472103  3.641280
138      27933       John       Merrick  71.472222  3.139994
139      23623         Bo      Van Pelt  71.475309  3.357018
140      10860     Justin       Leonard  71.475904  3.362362
141      28158      Steve        Marino  71.500000  3.830330
142      25892      Steve    Wheatcroft  71.506098  3.535095
143      25345       Carl    Pettersson  71.516393  3.415611
144      21878       Mark        Wilson  71.519048  3.212136
145      28679     Fabian         Gomez  71.538012  3.551721
146      28486    Michael        Putnam  71.540404  3.518751
147      29425     Andrew       Svoboda  71.541935  3.663152
148      20104        Ken          Duke  71.553991  3.377666
149      24358     Robert      Garrigus  71.563981  3.705778
150      30110       Kyle       Stanley  71.567164  3.381821
151      23621       Rory     Sabbatini  71.592040  3.779251
152      28132     Tyrone   Van Aswegen  71.598291  3.290146
153      29289  Seung-Yul           Noh  71.607143  3.641704
154      21753      Brian         Davis  71.623656  3.421439
155      22371      Aaron      Baddeley  71.625551  3.412089
156      29223        Sam      Saunders  71.650685  3.413144
157      22293      Heath        Slocum  71.653846  3.205401
158      29720     Andres      Gonzales  71.660714  3.559301
159      27895      Jonas         Blixt  71.664835  3.644837
160      24781     Hunter         Mahan  71.696970  3.246097
161      24494       Erik       Compton  71.697778  3.409185
162      25444     Justin         Hicks  71.698795  3.633964
163      27330       Josh        Teater  71.699115  3.209598
164      20593       Greg      Chalmers  71.717105  3.546134
165      31416      Derek      Fathauer  71.719298  3.408058
166      35732        Wes         Roach  71.721311  3.338388
167      20157     Retief        Goosen  71.747525  3.195242
168      34466      Peter       Malnati  71.759398  3.348791
169      20691       Greg          Owen  71.767296  3.632126
170      33667     Carlos         Ortiz  71.812121  3.343337
171      12782        Tim        Herron  71.813725  3.349983
172       6522      Ernie           Els  71.837500  3.498225
173      25562     Andres        Romero  71.851429  3.612031
174      25191    Gonzalo  Fdez-Castano  71.862745  3.945448
175      30750      Tommy        Gainey  71.865385  3.663140
176      28780   Nicholas      Thompson  71.894118  3.546891
177      34563    Chesson        Hadley  71.905512  3.632164
178      20848      Angel       Cabrera  71.918750  3.527024
179      30692      Scott     Stallings  71.947368  3.708616
180       1706      Davis      Love III  71.956522  3.382580
181      35300     Andrew         Loupe  71.959770  3.720525
182      22913       John       Rollins  72.014815  3.498369
183      24138        Ian       Poulter  72.023077  3.755028
184      19846      Brian           Gay  72.058252  3.354322
185      22046      Geoff        Ogilvy  72.070175  3.510621
186      25240       D.A.        Points  72.080460  3.637373
187      10885     Robert       Allenby  72.086486  3.270933
188      37273      Derek         Ernst  72.106061  3.782657
189      22378     Trevor      Immelman  72.313869  3.455073
190      25274     Steven      Bowditch  72.331950  4.425986
191      22621        Ben        Curtis  72.366071  3.846130
192      32334    Charlie        Beljan  72.388889  3.885392
193      20766    Padraig    Harrington  72.414286  3.718485
194      28307       Matt         Every  72.473054  4.213882
195      31193        Jim        Renner  72.577236  3.294327
196      28092       D.H.           Lee  72.964602  4.153160
197      10423       Mike          Weir  74.092593  3.527031

216

In [228]:
sqlTxt = '''
delete from scores s
where exists (select year, player_id, permanent_tournament_id, round, count(hole) 
  from (select    distinct year, player_id, permanent_tournament_id, round,  hole
          from    strokes) b
  where b.year = s.year 
    and b.player_id = s.player_id
    and b.permanent_tournament_id = s.permanent_tournament_id
    and b.round = s.round
  group by year, player_id, permanent_tournament_id, round
  having count(hole) < 18
)

'''
exec_sql(sqlTxt)